.addForm {
	width: 640px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

.addText {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border-color: gray;
}

.addButton {
	width: 60px;
	height: 100%;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
}

.completeText {
	text-decoration: line-through;
}

.completeButton {
	width: 4em;
	height: 100%;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
}

.todoItem {
	width: 640px;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	padding: 10px;
}

.editForm {
	height: 1.5em;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.25em;
	padding-bottom: 15px;
}

.editText {
	width: auto;
	height: 100%;
	border-radius: 5px;
	border-color: gray;
	margin-right: 10px;
}

.updateButton {
	height: 100%;
	background-color: rgb(0, 132, 255);
	color: white;
	border: none;
	border-radius: 5px;
}

.editCancelButton {
	height: 100%;
	background-color: rgb(212, 35, 4);
	color: white;
	border: none;
	border-radius: 5px;
}

.filterSelect {
	margin-top: 20px;
	width: 100%;
	height: 2em;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	border-color: gray;
	background-color: rgb(207, 207, 207);
}